.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}


.nav-item {
  display: flex;
  align-items: center;
  gap: 8px;

  &--active {
    background:rgb(225 213 213 / 60%) !important
  }
}