.products-container {
    margin: 20px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.empty-state-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}